[user]
	name = atsuo1203 
	email = dondonkitemasu@gmail.com
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = /Users/atsuo/.gitignore_global
[color]
	diff = auto
	status = auto
	branch = auto
[http]
	postBuffer = 524288000
[fetch]
	prune = true
[merge]
	ff = false
[pull]
	ff = only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
